LeBonDZ/build/*
LeBonDZ/.settings/*
LeBonDZ/.gradle/3.4/*
LeBonDZ/.project
LeBonDZ/.classpath
LeBonDZ/.classpath
LeBonDZ/.settings/org.eclipse.jdt.core.prefs
LeBonDZ/.gradle/3.4/taskHistory/taskHistory.lock
*.bin
LeBonDZ/.gradle/3.4/taskHistory/fileHashes.bin